@using HiddenVilla_Server.Model;

<div class="bg-light border p-2 col-5 offset-1" @onclick="(args) => AmenitySelected(args, AmenityModel.Name)">
    <h4 class="text-secondary">Amenity - @AmenityModel.Id</h4>

    @AmenityModel.Name <br />
    @AmenityModel.Description <br />
    RF from Parent @FirstFragment @SecondFragment
</div>

@code {
    [Parameter]
    public BlazorAmenity AmenityModel { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenityClicked { get; set;}

    [Parameter]
    public RenderFragment FirstFragment { get; set; }

    [Parameter]
    public RenderFragment SecondFragment { get; set; }

    public async Task AmenitySelected(MouseEventArgs e, string name)
    {
        await OnAmenityClicked.InvokeAsync(name);
    }

}
