@page "/"

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@


@code {
    Model.BlazorRoom Room = new Model.BlazorRoom
    {
        Id = 1,
        RoomName = "Villa Suite",
        IsActive = true,
        Price = 499
    }
}